<div class="row">
	<div class="span12">
  	<h1>Welcome to HomeNotes</h1>
	</div>
</div>

<div class="row">
	<div class="span5">
		<ul class="thumbnails">
				<li class="span5"><a href="#" class="thumbnail"><img src="http://placehold.it/400x500" alt=""></a></li>
			</ul>
	</div>
	<div class="span7">
		<br /><br /><br /><br /><br /><br />
		<h3>Help organize your home search by making it easy to:
		<br /><br />
			<li>record notes</li>
			<li>save photos</li>
			<li>and use built-in checklists</li>
		<br />
			for each property you visit. Give it a try!</h3>
		<br /><%= link_to "Sign up!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
	</div>


