<% provide(:title, 'Legal') %>

    <!--main tagline area-->
    <section class="taglineWrap">
      <div class="container">
        <div class="row-fluid  tagline">
          <div class="span12"><h2>Contact us if you have any questions about this sites legal policies.</h2></div>
          
        </div>
      </div> <!-- /container -->
    </section>



 <section class="mainContentWrap">
      <div class="container mainContent">
        <div class="row-fluid">
          <div class="span9">
            <div class="row-fluid">
              <div class="innerSpacer">
                

                <!--legal text-->
                <div class="row-fluid">
                  <div class="span12 contact">
                    <h1>Legal</h1>
                  <p>
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor porta magna id pellentesque. Donec id gravida mauris. Duis a tincidunt ante. Proin consequat auctor elit sit amet commodo. Maecenas sit amet laoreet turpis. Morbi tempus interdum ipsum, ac dictum orci sagittis vel. Morbi ac magna tortor, eget hendrerit tellus. Nam vitae vestibulum arcu. Donec tristique egestas hendrerit. Nullam dolor metus, blandit id blandit at, faucibus sed lacus. Aenean accumsan tempor lacus vel iaculis. Nam tempor ullamcorper eros, at iaculis arcu convallis a. Integer vitae libero metus, egestas fermentum velit. Cras sem nisl, commodo quis rutrum quis, porta ac nunc. Proin justo nunc, euismod feugiat rutrum aliquam, pellentesque a tortor. Nullam malesuada interdum ipsum quis tincidunt.
                  </p>
                   
                    
                  </div>
                </div>
                <!--end legal text-->
                
                
                
              </div>
            </div>
          </div> 
        </div>
      </div>
    </section>