<% provide(:title, "New Password") %>

<!--main tagline area-->
    <section class="taglineWrap">
      <div class="container">
        <div class="row-fluid  tagline">
          <div class="span12"><h2>Now you can enter a new password.</h2></div>
        
        </div>
      </div> <!-- /container -->
    </section>


    <section class="mainContentWrap">
      <div class="container mainContent">
        <div class="row-fluid">
          <div class="span9">
            <div class="row-fluid">
              <div class="innerSpacer">
                

                <!--sign in form-->
                <div class="row-fluid">
                  <div class="span12 contact">
                    <h1>New Password</h1>
                   
                    <%= form_for @user, url: password_reset_path(params[:id]) do |f| %>
                      <div class="control-group">
                        <div class="controls">
                         <%= f.password_field :password, class: "span3 required",  placeholder: "Enter password" %>
                        </div>
                        <label class="control-label" for="password">Password</label>
                      </div>

                      <div class="control-group">
                        <div class="controls">
                          <%= f.password_field :password_confirmation, class: "span3 required",  placeholder: "Re-type password" %>
                        </div>
                        <label class="control-label" for="password">Confirm Password</label>
                      </div>
                    <%= f.submit "Submit", class: "btn btn-success" %>
                          
                          
                    <% end %>
                    
                                        
                  </div>
                </div>
                <!--end sign in form-->
                
                
                
              </div>
            </div>
          </div> 
        </div>
      </div>
    </section>

