<% provide(:title, "Password Reset") %>

<!--main tagline area-->
    <section class="taglineWrap">
      <div class="container">
        <div class="row-fluid  tagline">
          <div class="span12"><h2>Forgot your password? Enter your email address to reset.</h2></div>
        
        </div>
      </div> <!-- /container -->
    </section>


<section class="mainContentWrap">
      <div class="container mainContent">
        <div class="row-fluid">
          <div class="span9">
            <div class="row-fluid">
              <div class="innerSpacer">
                

                <!--sign in form-->
                <div class="row-fluid">
                  <div class="span12 contact">
                    <h1>Password Reset</h1>
                   
                    <%= form_tag password_resets_path, method: :post do %>
                      <div class="control-group">
                        <div class="controls">
                          <%= text_field_tag :email, params[:email], class: "span3 required" %>
                        </div>
                        <label class="control-label" for="name">Email</label>
                      </div>
                    <%= submit_tag "Reset Password", class: "btn btn-success" %>
                          
                          
                    <% end %>
                    
                                        
                  </div>
                </div>
                <!--end sign in form-->
                
                
                
              </div>
            </div>
          </div> 
        </div>
      </div>
    </section>

