<% provide(:title, "Account") %> 
<h1>Update Your Account</h1>

<div class="row">
  <div class="span4 offset3 form-horizontal">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <div class="control-group">
        <div class="controls">
    	  <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>