<% provide(:title, 'Add Property') %>
<h1>Add Property</h1>

<div class="row">
  <div class="span4 offset3 form-horizontal">

    <%= form_for(@property, html: {multipart: true}) do |f| %>
      <%= render 'fields', f: f %>
      <div class="control-group">
        <div class="controls">
    	  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
        </div>
      </div>
    <% end %>

    
  </div>
</div>