
<!--footer-->
		<br><%= yield :scripts %>
		<!--footer lower-->
		<section class="footerLower">
			<div class="container">
				<div class="row-fluid">
					<div class="span3 copyright"><p>&copy; Eric Szeto 2013, Hi Bitmaker</p></div>
					
					<div class="span8 footNav" >
						&nbsp;
					</div>

					<div class="span1 footNav" >
                      <%= link_to "Legal", legal_path %>
						
                    </div>
				</div>
			</div>
		</section>
			
		
		<!--back to top button-->
		<a href="#top" id="peBackToTop" class="label btt disabled"><span class="icon-chevron-up icon-white"></span></a>

		<!-- import minified javascript -->
        <script type="text/javascript" src="js/mentor.min.js"></script>

