<!--footer-->
		<br>
		<!--footer lower-->
		<section class="footerLower">
			<div class="container">
				<div class="row-fluid">
					<div class="span3 copyright"><p>&copy; HomeNotes 2013</p></div>
					
					<div class="span6 footNav">
						&nbsp;
					</div>

					<div class="span3 footNav">
                      <a class="first" href="index.html">Home</a><span>&#124;</span>
						<a href="full_width.html">Contact Us</a><span>&#124;</span>
						<a href="contact.html">Sign In</a>
                    </div>
				</div>
			</div>
		</section>
			
		
		<!--back to top button-->
		<a href="#top" id="peBackToTop" class="label btt disabled"><span class="icon-chevron-up icon-white"></span></a>

		<!-- import minified javascript -->
        <script type="text/javascript" src="js/mentor.min.js"></script>
